.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Loading {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 30%;
  padding: 16px 0;
  background: #FFD700;
  font-size: 24px;
  line-height: 27px;
}
.Loading > img {
  width: 24px;
  float: left;
  margin-left: 15px;
}
.Loading > span {
  margin-left: 10px;
}